In [1]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
c=int(input("enter the value of c:"))
d=int(input("enter the value of d:"))
result=a*b+c*d
print("the result of the eqaution is:",result)

enter the value of a: 1
enter the value of b: 2
enter the value of c: 3
enter the value of d: 4

the result of the eqaution is: 14

In [3]:
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
c=int(input("enter the value of c:"))
d=int(input("enter the value of d:"))
result=a+b-c+d
print("the result of the eqaution is:",result)

enter the value of a: 1
enter the value of b: 2
enter the value of c: 3
enter the value of d: 4

the result of the eqaution is: 4

In [5]:
#swapping numbers
a=1
b=2
print(a,b)
a,b=b,a
print(a,b)

1 2
2 1

In [7]:
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
print(a,b)
temp=a
a=b
b=temp
print(a,b)

enter the value of a 1
enter the value of b 2

1 2
2 1

In [9]:
#swapping using arthematic operations
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print(a,b)
a=a+b
b=a-b
a=a-b
print(a,b)

enter the value of a: 1
enter the value of b: 2

1 2
2 1

In [11]:

a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print(a,b)
a=a*b
b=a/b
a=a/b
print(a,b)

enter the value of a: 2
enter the value of b: 3

2 3
3.0 2.0

In [15]:
#using bitwise xor
a=int(input("enter the value of a:"))
b=int(input("enter the value of b:"))
print(a,b)
a=a^b
b=a^b
a=a^b
print(a,b)

enter the value of a: 1
enter the value of b: 2

1 2
2 1

In [17]:
r=float(input("enter the radius:"))
pi=3.14
area=pi*r**2
circumference=2*pi*r
print(area,circumference)

enter the radius: 2

12.56 12.56

In [19]:
from math import pi
r=float(input("enter the radius:"))
area=pi*r**2
circumference=2*pi*r
print(area,circumference)

enter the radius: 3

28.274333882308138 18.84955592153876

In [21]:
#power and sqrt
from math import sqrt,pow
n=16
print(sqrt(n))
print(pow(2,3))

4.0
8.0

In [23]:
#trigonometric functions
from math import sin,cos,tan,radians
angle=30
print("sin:",sin(radians(angle)))
print("cos:",cos(radians(angle)))
print("tan:",tan(radians(angle)))

sin: 0.49999999999999994
cos: 0.8660254037844387
tan: 0.5773502691896257

In [25]:
from math import floor,ceil
num=1.1
print(floor(num))
print(ceil(num))

1
2

In [27]:
from math import floor,ceil
num=1.1
print(floor(num))
print(ceil(num))

1
2

In [29]:

from math import floor,ceil
num=1.9
print(floor(num))
print(ceil(num))

1
2

In [31]:
from math import floor,ceil
num=1
print(floor(num))
print(ceil(num))

1
1

In [33]:
from datetime import datetime
now=datetime.now()
print(now)
print(now.date())

2025-05-09 11:41:31.527715
2025-05-09

In [5]:
import calendar
year=2025
print(calendar.calendar(year))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [3]:
a=int(input("enter the value"))
print(a)

enter the value 1

1

In [9]:
import calendar
year=2024
print("is leap year",calendar.isleap(year))

is leap year True

In [11]:
#dates difference
from datetime import date
d1=date(2025,5,9)
d2=date(2024,1,1)
diff=d1-d2
print(diff.days)

494

In [13]:
#day observation
from datetime import date
today=date.today()
name=today.strftime("%A")
print(name)

Friday

In [17]:
from datetime import date
today=date.today()
print(today)

2025-05-09

In [27]:
#print first and last date of a month
import calendar 
from datetime import date
year=2025
month=5
fday=date(year,month,1)
lday=date(year,month,calendar.monthrange(year,month)[1])
print(fday.strftime("%A,%Y-%M-%D"))
print(lday.strftime("%A,%Y-%M-%D"))

Thursday,2025-00-05/01/25
Saturday,2025-00-05/31/25